# 2. Open API 활용

### 공공데이터포털 사이트 이용
1. 공공데이터포털 사이트 회원가입 / 로그인
2. 데이터 검색
3. API 사용 요청, 키 발급
4. API 매뉴얼 확인
5. API 연동 개발 및 테스트

https://www.data.go.kr/

In [1]:
import requests
import pandas as pd
import xmltodict
import json

### 보건복지부-코로나19 감염현황 조회 서비스 (XML)

In [2]:
serviceKey = 'XpHBM4ur7iiH%2FQQgeKLwZ9L9uwQZgGkkyF9YfyEeyd1G43BSEuJusH2zN%2FukBHVsk792BrJOA5VY9hdweaYPNA%3D%3D'
url = f'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={serviceKey}&pageNo=1&numOfRows=10&startCreateDt=20210801&endCreateDt=20210830'
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=XpHBM4ur7iiH%2FQQgeKLwZ9L9uwQZgGkkyF9YfyEeyd1G43BSEuJusH2zN%2FukBHVsk792BrJOA5VY9hdweaYPNA%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20210801&endCreateDt=20210830'

In [3]:
res = requests.get(url)
res

In [4]:
# res.text

In [5]:
temp = xmltodict.parse(res.text)
# temp

In [6]:
result = json.loads(json.dumps(temp))  # OrderedDict -> str(dict) -> dict
# result

In [7]:
items = result['response']['body']['items']['item']

for item in items:
    # print(item)
    pass

In [8]:
# 일자(STATE_DT), 확진자수(DECIDE_CNT), 사망자수(DEATH_CNT), 치료중환자수(CARE_CNT)
state_dt = []
decide_cnt = []
death_cnt = []
care_cnt = []

for item in items:
    state_dt.append(item['stateDt'])
    decide_cnt.append(item['decideCnt'])
    death_cnt.append(item['deathCnt'])
    care_cnt.append(item['careCnt'])
# state_dt

In [9]:
# dataframe 생성
df_data = {
    '기준일': state_dt,
    '확진자수': decide_cnt,
    '사망자수': death_cnt,
    '치료중환자수': care_cnt
}
# df_data

In [10]:
df = pd.DataFrame(df_data)
df

         기준일    확진자수  사망자수 치료중환자수
0   20210830  250049  2284  27407
1   20210829  248561  2279  27556
2   20210828  246946  2276  27681
3   20210827  245153  2265  28215
4   20210826  243315  2257  28187
5   20210825  241433  2237  28019
6   20210824  239279  2228  27858
7   20210823  237772  2222  27949
8   20210822  236355  2215  27864
9   20210821  234729  2202  28009
10  20210820  232852  2197  27880
11  20210819  230802  2191  27376
12  20210818  228650  2178  26890
13  20210817  226846  2173  27449
14  20210816  225474  2167  27109
15  20210815  223919  2156  26660
16  20210814  222103  2148  26177
17  20210813  220175  2144  25783
18  20210812  218186  2138  25512
19  20210811  216199  2135  24558
20  20210810  213978  2134  24320
21  20210809  212441  2125  24073
22  20210808  210950  2121  23826
23  20210807  209222  2116  23318
24  20210806  207399  2113  23232
25  20210805  205695  2109  22865
26  20210804  203920  2106  22688
27  20210803  202195  2104  22181
28  20210802  200995  2099  22296
29  20210801  199777  2098  22006

### 한국관광공사 - 관광정보서비스 (JSON)

In [11]:
serviceKey = 'XpHBM4ur7iiH%2FQQgeKLwZ9L9uwQZgGkkyF9YfyEeyd1G43BSEuJusH2zN%2FukBHVsk792BrJOA5VY9hdweaYPNA%3D%3D'
pageNo = 1

url = f'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={serviceKey}&numOfRows=10&pageNo={pageNo}&MobileOS=ETC&MobileApp=AppTest&_type=json'
url

'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=XpHBM4ur7iiH%2FQQgeKLwZ9L9uwQZgGkkyF9YfyEeyd1G43BSEuJusH2zN%2FukBHVsk792BrJOA5VY9hdweaYPNA%3D%3D&numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json'

In [12]:
res = requests.get(url)
res

In [13]:
res.text

'{"response":{"header":{"resultCode":"0000","resultMsg":"OK"},"body":{"items":{"item":[{"code":1,"name":"서울","rnum":1},{"code":2,"name":"인천","rnum":2},{"code":3,"name":"대전","rnum":3},{"code":4,"name":"대구","rnum":4},{"code":5,"name":"광주","rnum":5},{"code":6,"name":"부산","rnum":6},{"code":7,"name":"울산","rnum":7},{"code":8,"name":"세종특별자치시","rnum":8},{"code":31,"name":"경기도","rnum":9},{"code":32,"name":"강원도","rnum":10}]},"numOfRows":10,"pageNo":1,"totalCount":17}}}'

In [14]:
data = res.json()
data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': [{'code': 1, 'name': '서울', 'rnum': 1},
     {'code': 2, 'name': '인천', 'rnum': 2},
     {'code': 3, 'name': '대전', 'rnum': 3},
     {'code': 4, 'name': '대구', 'rnum': 4},
     {'code': 5, 'name': '광주', 'rnum': 5},
     {'code': 6, 'name': '부산', 'rnum': 6},
     {'code': 7, 'name': '울산', 'rnum': 7},
     {'code': 8, 'name': '세종특별자치시', 'rnum': 8},
     {'code': 31, 'name': '경기도', 'rnum': 9},
     {'code': 32, 'name': '강원도', 'rnum': 10}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 17}}}

In [15]:
numOfRows = data['response']['body']['numOfRows']
totalCount = data['response']['body']['totalCount']

numOfRows, totalCount

(10, 17)

In [16]:
queryCount = (totalCount - 1) // numOfRows + 1
queryCount

2

In [17]:
code = []
name = []
rnum = []

for i in range(queryCount):  # 0~1
    pageNo = i + 1  # 1~2
    url = f'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={serviceKey}&numOfRows=10&pageNo={pageNo}&MobileOS=ETC&MobileApp=AppTest&_type=json'
    res = requests.get(url)
    data = res.json()
    
    items = data['response']['body']['items']['item']
    
    for item in items:
        code.append(item['code'])
        name.append(item['name'])
        rnum.append(item['rnum'])
name

['서울',
 '인천',
 '대전',
 '대구',
 '광주',
 '부산',
 '울산',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '경상북도',
 '경상남도',
 '전라북도',
 '전라남도',
 '제주도']

In [18]:
df_data = {
    'code': code,
    'name': name,
    'rnum': rnum
}

df = pd.DataFrame(data=df_data)
df

    code     name  rnum
0      1       서울     1
1      2       인천     2
2      3       대전     3
3      4       대구     4
4      5       광주     5
5      6       부산     6
6      7       울산     7
7      8  세종특별자치시     8
8     31      경기도     9
9     32      강원도    10
10    33     충청북도    11
11    34     충청남도    12
12    35     경상북도    13
13    36     경상남도    14
14    37     전라북도    15
15    38     전라남도    16
16    39      제주도    17